/* removes the scroll bar in a way i don't understand */
.list-view > .virtual-flow > .scroll-bar,
.list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.list-view > .virtual-flow > .scroll-bar .increment-arrow,
.list-view > .virtual-flow > .scroll-bar .decrement-button,
.list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-insets: 0 2 0 0;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 10;
    -fx-pref-height: 12;
}

.list-view {
   -fx-background-insets: 0;
   -fx-padding: 0;
}

/* styles the list view */
.list-cell {
    -fx-background-insets: 0;
    -fx-background-color: #fbfbfb;
}

.list-cell:odd {
    -fx-background-insets: 0;
    -fx-background-color: #e8e8e8;
}

.list-cell:selected {
    -fx-background-color: #5887d1;
    -fx-background-insets: 0;
}

.list-cell:empty{
    -fx-background-insets: 0;
    -fx-background-color: #3d3d3d;
}


/* split pane no divider. */
.split-pane-divider {
    -fx-border-color: #fbfbfb;
    -fx-background-color: #fbfbfb;
    -fx-background-insets: 0;
}

.split-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.menu-bar {
    -fx-background-color: #3d3d3d;
}

.menu-bar .label {
    -fx-text-fill: #fbfbfb;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #5887d1;
}

.menu-item:focused {
    -fx-background-color: #5887d1;
}

.context-menu {
    -fx-background-color: #3d3d3d;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #3d3d3d;
}

.combo-box .list-cell
{
    -fx-background: #3d3d3d;
    -fx-background-color: transparent;
    -fx-text-fill: #fbfbfb;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: #3d3d3d;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #5887d1;
    -fx-text-fill: #fbfbfb;
}

.combo-box-base
{
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin"; */
    -fx-background-color: #3d3d3d;
    -fx-background-radius: 4;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.button, .button:focused
{
    -fx-background-color: transparent;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 15 3 15;
    -fx-border-color: #c4c4c4;
    -fx-border-radius: 3;
}

.button:pressed, .button:hover
{
    -fx-background-color: #5887d1;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 15 3 15;
    -fx-text-fill: #fbfbfb;
    -fx-border-color: #c4c4c4;
    -fx-border-radius: 3;
}