/* list view and list elements */

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-view {
   -fx-background-insets: 0;
   -fx-background-color: #d9d9d9;
}

.list-cell {
    -fx-background-insets: 0;
}


/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane-divider {
    -fx-border-color: #fbfbfb;
    -fx-background-color: #fbfbfb;
    -fx-background-insets: 0;
}

.split-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}